.button {
	margin: 2px;
	padding: 10px 10px;
	font-size: 16px;
	text-align: center;
	border-radius: 2px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);	
	border: none;
	color: white;
	display: inline-block;
	text-decoration: none;
	width: 130px;
	height: 48px;
}

#startCall {
	background-color: #4CAF50;
}

#endCall {
	background-color:#f44336;
}

.input {
	border: 2px solid #555;
	border-radius: 4px;
	padding-left: 40px;
	margin-bottom: 20px;
	width: 300px;
	height: 40px;
}

#container {
	margin: 10px;
	padding: 10px;
}

#area-2 {
	margin: 10px;
	padding: 10px;
}